<!DOCTYPE html>
<html>
  <head>
    <title>Shittip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-root" content="/">
    <meta name="view-transition" content="same-origin">

    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="container">
      <p class="flash notice hide"><%= notice %></p>
      <p class="flash alert hide"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
